@import url("vars.css");

main {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100vh;

  background: rgb(2, 0, 36);

  margin: 0;

  font-size: 300%;
}

main h1 {
  font-size: 250%;
  background-image: linear-gradient(
    to left,
    yellow,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );

  -webkit-background-clip: text;
  color: transparent;
}

main section {
  background: rgba(255, 255, 255, 0.7);
}

main section ul li {
  list-style: none;
  text-decoration: none;
}

main section ul li::after {
  content: " 🚀";
}

main section ul li::before {
  content: "⭐ ";
}
