@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

:root {
  --very-light-pink: red;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;

  --white: #ffffff;
  --black: #000000;

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
